.swidget-holder {
  margin-bottom: $base-spacing;
}

.swidget_item_widget {
  background-color: $light-gray;
  border: 1px solid $medium-gray;

  .swidget_innerwidget {
    & > .swidget_item_widget {
      border: 0;
    }
  }
}

.swidget_misc {
  padding: 0 $base-spacing;
  @include media($extra-small) {
    padding: 0 1rem;
  }
}

.swidget_messages > div {
  padding: $small-spacing $base-spacing $small-spacing $base-spacing;
  font-style: italic;

  &.swidget_noitems, &.swidget_system_error {
    background-color: tint($red, 80%);
    color: $red;
  }

  &.swidget_items_added {
    background-color: tint($green, 85%);
    color: $green;
  }

  @include media($extra-small) {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

.swidget_item_name,
.currdate_div,
.swidget_tt_item_name {
  padding: 1rem $base-spacing;
  font-size: 1.5em;
  font-weight: bold;
  border-bottom: 1px solid $light-medium-gray;

  @include media($extra-small) {
    padding-right: 1rem;
    padding-left: 1rem;
    font-size: 1.25em;
  }
}

.currdate_div + .swidget_tt_item_name {
  border-bottom: 0;
  padding-bottom: 0;
  margin-bottom: -1em;
}

.swidget_ticket_type {
  display: -ms-grid;
  display: grid;
  grid-template-columns: 25% 70px 1fr 30%;
  -ms-grid-columns: 25% 70px 1fr 30%;
  grid-template-rows: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
  min-height: 70px;
  padding: 0.5em $base-spacing;
  background-color: $light-gray;
  border-bottom: 1px solid $light-medium-gray;

  @include media($small) {
    grid-template-columns: 30% 70px 1fr 35%;
    -ms-grid-columns: 30% 70px 1fr 35%;
  }

  @include media($extra-small) {
    grid-template-columns: 30% 50px 1fr 60%;
    -ms-grid-columns: 30% 50px 1fr 60%;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  label {
    grid-row-start: span 2;
    -ms-grid-row-span: 2;
    @include align-self(center);
    font-size: 1.1em;
    font-weight: bold;
    @include media($extra-small) {
      font-size: 1em;
    }
  }
}

.swidget_mod_name {
  margin-right: 5px;
}

.swidget_ticket_select {
  -ms-grid-column: 2;
  max-height: 1.5rem;
}

.swidget_ticket_select,
.swidget_only_price {
  grid-row: span 2;
  -ms-grid-row-span: 2;
  @include align-self(center);
  margin-bottom: 0;
}

.swidget_nm_price {
  grid-column-start: 4;
  -ms-grid-column: 4;
  text-align: center;

  &:not(.swidget_only_price) {
    grid-row: 1;
    -ms-grid-row: 1;
  }

  span {
    font-size: 1.25em;
    font-weight: bold;

    @include media($extra-small) {
      font-size: 1.1em;
    }
  }
}

.swidget_mem_price {
  grid-column-start: 4;
  -ms-grid-column: 4;
  text-align: center;
  grid-row: 2;
  -ms-grid-row: 2;

  @include media($extra-small) {
    grid-column-start: 3;
    -ms-grid-column: 3;
    grid-column-end: span 2;
    -ms-grid-column-span: 2;
    font-size: 0.875em;
  }
}

.swidget_buttons {
  padding: 1rem $base-spacing;
  text-align: right;

  @include media($extra-small) {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

.swidget_btn_addtocart,
.swidget_btn_purchase {
  @extend .btn;
  @include media($extra-small) {
    display: block;
    width: 100%;
  }
}

.swidget_checkout_link {
  @extend .btn;
}

.swidget_datesel {
  display: flex;
  flex-wrap: wrap;

  label {
    width: 40%;

    @include media($small) {
      width: 50%;
    }

    @include media($extra-small) {
      width: 100%;
    }
  }

  select {
    align-self: center;
    margin: 1.7em 0 0.3em 0;

    @include media($extra-small) {
      width: 100%;
      margin: 0.5em 1rem;
    }
  }
}

.swidget_datesel label,
.swidget_timesel legend {
  @include align-self(center);
  font-size: 1.1em;
  font-weight: bold;
  padding: 1.5em 1.5rem 0.5em 1.5rem;

  @include media($extra-small) {
    font-size: 1em;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.swidget_timesel {
  fieldset {
    position: relative;
    padding-left: 40%;
    margin-bottom: 1.5em;
  }

  legend {
    width: 40%;
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;

    & ~ div {
      display: inline-block;
      padding: 1.5em 1.5rem 0 0;
    }
  }

  @include media($small) {
    fieldset {
      padding-left: 50%;
    }

    legend {
      width: 50%;
    }
  }

  @include media($extra-small) {
    fieldset {
      padding-left: 0;
      margin-bottom: 1rem;
    }

    legend {
      position: static;
      width: 100%;

      & ~ div {
        display: inline-block;
        padding: 0.5em 1rem 0 0;
        margin-left: 1em;
      }
    }
  }
}

.currdate_div {
  flex-basis: 100%;
  flex-shrink: 0;
}
